*{
    box-sizing:border-box;
}
.container{
    background-color:rgb(106, 183, 251);
    height:100vh;
}
.box{
    background-color:rgb(236, 236, 236);
    border:2px solid;
    width:50%;
    height:auto;
    padding:35px;
    float:left;
    text-align:center;
    min-height:40%;

}