h3{
    background-color:black;
    color:white;
    padding:15px;
    margin:5px;

}
.nowrap{
    background-color:yellowgreen;
    display:flex;
    width:300px;
    flex-wrap:nowrap;
}
.wrap{
    background-color:yellowgreen;
    display:flex;
    width:300px;
    flex-wrap:wrap;
}